<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                <div class="panel panel-default">
                    <div class="form-group">
                        <router-link to="/albums" class="btn btn-info white--text"><< Back</router-link>
                    </div>
                    <div class="panel-body">
                        <form v-on:submit="saveForm()">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label class="control-label">Album Title</label>
                                    <input type="text" v-model="album.title" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <button class="btn btn-success grey white--text">Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from "axios";

    export default {
        name: "AlbumsIdEdit",
        computed:{
            album(){
                return this.$store.getters['albums/getAlbumById'](this.$route.params.id);
            }
        },
        methods: {
            saveForm() {
                let app = this;
                event.preventDefault();
                app.$store.dispatch('albums/albumsIdEdit', app.album)
                    .then(function(){
                        app.$router.replace('/albums');
                    });
            }
        }
    }
</script>

<style scoped>

</style>