<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                <div class="form-group">
                    <router-link to="/albums" class="btn btn-info white--text">Back</router-link>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form enctype="multipart/form-data" v-on:submit="saveForm()">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label class="control-label">Album Title</label>
                                    <input type="text" v-model="album.title" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input accept="image/*" type="file" @change="onFileChanged">
                                    <button @click="onUpload">Upload</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <button class="btn btn-success white--text">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from "axios";

    const upload = (url, data) => {
        const fd = new FormData();
        fd.append("image", data);
        return axios.post(url, fd);
    };

    const uploadService = {
        upload
    };

    export default {
        name: "AlbumsAdd",
        data: function () {
            return {
                album: {
                    userId: null,
                    title: '',
                    review: ''
                },
            }
        },
        methods: {
            onFileChanged (event) {
                this.album.review = event.target.files[0];
            },
            saveForm() {
                event.preventDefault();
                let app = this;
                app.$store.dispatch('albums/addAlbum', app.album)
                    .then(function(){
                        app.$router.replace('/albums');
                    });
            },
        }
    }
</script>