<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Album Name</th>
                                <th>User Name</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ album.title }}</td>
                                <td>{{ getUser(album.userId).name }}</td>
                                <td>
                                    <router-link :to="{name: 'albumsIdEdit', params:
                                    {id: album.id}}" class="btn btn-xs btn-info grey white--text">
                                        Edit
                                    </router-link>
                                    <a href="#"
                                       class="btn btn-xs btn-danger ml-3 red white--text"
                                       v-on:click="deleteEntry(album.id)">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row text-center text-lg-left">
                            <div v-for="photo, index in getPhotos(album.id)" :key="photo.id" class="col-lg-3 col-md-4 col-6"
                                 @click="photoShow(album.id, photo.id)">
                                <a href="#" class="d-block mb-4 h-150" >
                                    <img class="img-fluid img-thumbnail" v-bind:src="photo.thumbnailUrl" alt="">
                                </a>
                                <label>{{photo.title}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        name: "AlbumsId",
        data: function () {
            return{
                photos: [],
            }
        },
        computed: {
            album(){
                return this.$store.getters['albums/getAlbumById'](this.$route.params.id);
            },
        },
        methods: {
            getUser(id){
                return this.$store.getters['users/getUserById'](id);
            },
            getPhotos(id){
                this.photos = this.$store.getters['photos/getPhotosByAlbumId'](id);
                return this.photos;
            },
            deleteEntry(id) {
                if (confirm("Do you really want to delete album?")) {
                    let app = this;
                    app.$store.dispatch('albums/deleteAlbum', id);
                }
            },
            photoShow(albumId, photoId) {
                this.$router.push({
                    name: 'photoId',
                    params: { albumId: albumId , photoId: photoId }
                });
            },
        },
        mounted() {
            if(this.photos.length < 1) this.$store.dispatch('photos/loadPhotos');
        },
    }
</script>