<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                <div class="panel">
                    <div class="form-group">
                        <router-link :to="{name: 'albumsId', params: { id: this.$route.params.albumId}}" class="btn btn-success">Back</router-link>
                    </div>
                    <div class="panel-body">
                        <div class="row text-center text-lg-left">
                            <div class="col-lg-9 col-md-10 col-10">
                                <a class="d-block mb-4 h-600">
                                    <img class="img-fluid img-thumbnail" v-bind:src="photo.url" alt="">
                                </a>
                                <label>{{photo.title}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-xs btn-danger ml-3 red white--text"
                         v-on:click="deleteEntry()">
                        Delete
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
    name: "PhotoId",
    computed: {
        photo(){
            return this.$store.getters['getPhotoById'](this.$route.params.photoId);
        },
    },
    methods: {
        deleteEntry() {
            if (confirm("Do you really want to delete photo?")) {
                this.$store.dispatch(
                    'photos/deletePhoto', {
                        photoId: this.$route.params.photoId,
                        albumId: this.$route.params.albumId
                    });
            }
        },
    },
}
</script>