<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <router-link :to="{name: 'usersIdEdit', params:
                                    {id: user.id}}" class="btn btn-xs btn-info grey white--text">
                                        Edit
                                    </router-link>
                                    <a href="#"
                                       class="btn btn-xs btn-danger ml-3 red white--text"
                                       v-on:click="deleteEntry(user.id)">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        name: "UsersId",
        computed: {
            user(){
                return this.$store.getters['users/getUserById'](this.$route.params.id);
            }
        },
        methods: {
            deleteEntry(id) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    app.$store.dispatch('users/deleteUser', id);
                }
            }
        },
    }
</script>