<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                <div class="panel panel-default">
                    <div class="form-group">
                        <router-link :to="{name: 'usersId', params:{id: user.id}}"
                                     class="btn btn-info white--text">Back</router-link>
                    </div>
                    <div class="panel-body">
                        <form v-on:submit="saveForm()">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label class="control-label">User name</label>
                                    <input type="text" v-model="user.name" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label class="control-label">User email</label>
                                    <input type="text" v-model="user.email" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <button class="btn btn-success grey white--text">Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from "axios";

    export default {
        name: "UsersIdEdit",
        computed:{
            user(){
                return this.$store.getters['users/getUserById'](this.$route.params.id);
            }
        },
        methods: {
            saveForm() {
                let app = this;
                event.preventDefault();
                app.$store.dispatch('users/usersIdEdit', app.user)
                    .then(function(){
                        app.$router.push({name: 'usersId', params: {id: app.$route.params.id}});
                    });
            }
        }
    }
</script>