<template>
    <v-container>
        <v-layout row>
            <v-flex xs12>
                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <router-link :to="{name: 'usersAdd'}" class="btn btn-success white--text">
                            Add user
                        </router-link>
                    </div>
                    <div class="input-group mb-3 col-10">
                        <input type="text" class="form-control" v-model="search" placeholder="Enter name or email...">
                        <div class="input-group-append">
                            <button class="btn btn-primary red white--text" type="button">
                                <i class="fa fa-search">Search</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered table-hover" style="cursor: pointer">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Avatar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user, index in filteredList" :key="user.id" @click="userShow(user.id)">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.avatar }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from "axios";
    import { mapState } from 'vuex';

    export default {
        name: "Users",
        data: function () {
            return {
                user: {
                    avatar: "www.yebizo.com/assets/img/artist/dummy.png"
                },
                search: '',
            }
        },
        mounted() {
            if(this.users.length < 1) this.$store.dispatch('users/loadUsers');
        },
        methods: {
            userShow(id) {
                this.$router.push({
                    name: 'usersId',
                    params: { id: id }
                });
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    axios.delete('/users/' + id + '/edit')
                        .then(function (response) {
                            app.users.splice(index, 1);
                        })
                        .catch(function (response) {
                            alert("Could not delete user");
                        });
                }
            }
        },
        computed: {
            filteredList() {
                return this.users.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase())
                })
            },
            ...mapState('users',[
                'users'
            ])
        }
    }
</script>