<template>
    <VContainer
            fluid
            fill-height
    >
        <VLayout
                align-center
                justify-center
        >
            <VFlex
                    xs12
                    sm8
                    md6
            >
                <VCard class="elevation-12">
                    <VToolbar
                            dark
                            color="primary"
                    >
                        <VToolbarTitle>
                            Welcome to Photo Gallery! Please, add a user...
                        </VToolbarTitle>
                    </VToolbar>
                    <VCardText>
                        <VForm
                                lazy-validation
                                ref="form"
                                v-model="valid"
                        >
                            <VTextField
                                    prepend-icon="person"
                                    label="Full name"
                                    type="name"
                                    v-model="user.name"
                                    name="name"
                                    :rules="nameRules"
                            />
                            <VTextField
                                    prepend-icon="email"
                                    label="Email"
                                    type="email"
                                    v-model="user.email"
                                    name="email"
                                    :rules="emailRules"
                            />
                        </VForm>
                    </VCardText>
                    <VCardActions>
                        <VSpacer/>
                        <VBtn
                                large
                                color="primary"
                                @click="onSubmit"
                                :disabled="!valid"
                        >
                            SIGN UP
                        </VBtn>
                        <VSpacer/>
                    </VCardActions>
                </VCard>
            </VFlex>
        </VLayout>
    </VContainer>
</template>

<script>
    const emailRegex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/

    export default {
        name: "UsersAdd",
        data () {
            return {
                user: {
                    name: '',
                    email: '',
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Field full name is required',
                    v => (v && v.length >= 3) || 'Enter the correct information'
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => emailRegex.test(v) || 'E-mail must be valid'
                ],
            }
        },
        methods: {
            onSubmit () {
                event.preventDefault();
                let app = this;
                app.$store.dispatch('users/add', app.user)
                    .then(function(){
                        app.$router.replace('/users');
                    });
            },
        }
    }
</script>