<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="drawer">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Photo Gallery
          </v-list-item-title>
          <v-list-item-subtitle>
            vue.js#2
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item
                v-for="item in items"
                :key="item.title"
                :to="item.url"
                link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="primary" dark app>
        <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
        <v-toolbar-title>Photo Gallery</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn
            v-for="item in items"
            :key="item.title"
            :to="item.url"
            text
          >
            <v-icon left>{{item.icon}}</v-icon>
              {{item.title}}
          </v-btn>
        </v-toolbar-items>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

    </v-app-bar>

    <v-content>
        <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      items: [
        { title: 'Users', icon: 'mdi-view-dashboard', url: '/users' },
        { title: 'Albums', icon: 'mdi-image', url: '/albums' },
      ],
    }
  }

};
</script>
